{% extends 'products/base.html' %}
{% block content %}


        <header class="bg-dark py-5">
            <div class="container px-4 px-lg-5 my-5">
                <div class="text-center text-white">
                    <h1 class="display-4 fw-bolder">ورود</h1>
                    <p class="lead fw-normal text-white-50 mb-0">With this shop hompeage template</p>
                </div>
            </div>
        </header>


        <section class="py-5">
            <div class="container">


                <form method="POST">
                    {% csrf_token %}


                    <div class="mb-3">
                        <label>نام کاربری</label>
                        <input type="text" name="username"
                        class="form-control">
                    </div>


                    <div class="mb-3">
                        <label>رمز عبور</label>
                        <input type="password" name="password"
                        class="form-control">
                    </div>

                    <button type="submit" class="btn btn-primary">ورود

                    </button>
                </form>
            </div>
        </section>
{% endblock %}
