{% extends "products/base.html" %}
{% block content %}
<div class="container mt-5">
    <h2 class="mb-4">🛒 سبد خرید شما</h2>
    {% if cart_items %}
    <table class="table table-bordered table-hover align-
        middle text-center">
        <thead class="table-dark">
            <tr>
                <th>محصول</th>
                <th>قیمت واحد</th>
                <th>تعداد</th>
                <th>قیمت کل</th>
                <th>عملیات</th>
            </tr>
        </thead>
        <tbody>
                {% for item in cart_items %}
                    <tr>
                        <td>
                            <div class="d-flex align-items-center">
                                <img src="{{ item.product.img.url }}" width="60">
                                {{ item.product.name }}
                            </div>
                        </td>
                        <td>{{ item.price }} تومان</td>
                        <td>
                        {{ item.quantity }}
                        </td>
                        <td>
                        {{ item.item_total }} تومان
                        </td>
                        <td>
                            <a href="{% url 'increase_quantity' item.product.id %}" class="btn btn-sm btn-success">+</a>
                            <a href="{% url 'decrease_quantity' item.product.id %}" class="btn btn-sm btn-warning">-</a>
                            <a href="{% url 'remove_from_cart' item.product.id %}" class="btn btn-sm btn-danger"> حذف</a>
                        </td>
                    </tr>
                {% endfor %}
        </tbody>
    </table>


    <div class="text-end">
        <h4>مجموع کل

       <span class="text-success">{{ total_price }} تومان </span>

        </h4>
    </div>


    <form action="{% url 'checkout' %}" method="post">
        {% csrf_token %}
        <button type="submit" class="btn btn-success">
            ثبت سفارش
        </button>
    </form>

    
    {% else %}
        <div class="alert alert-info">.سبد خرید شما خالی است

        </div>
    {% endif %}
    </div>
{% endblock %}